<html lang="en">
  <head>
    <!-- Required meta tags -->
      <meta http-equiv="Cache-control" content="no-cache">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet" type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Sentiment Prediction System</title>

      <link href="{{url_for('static',filename='images/favicon.ico')}}" rel="shortcut icon">

  </head>
  <body class="bg-nav">



</head>
  </body>
  <br>
<div class="container">
    <div class="jumbotron text-center">
        <h2>Sentiment Prediction System</h2>
		<p>Understanding Everyday Language</p>
<div>
    <br>
    <h2 style="text-align:left;"><u>What Can We Do With Sentiment Analysis?</u></h2>
    <br>
    <h4 style="text-align:justify;">In today’s highly developed world, every minute, people around the
globe express themselves via various platforms on the web. Twitter,
one of the largest social media site receives millions of tweets everyday
on variety of important socially relevant issues.
        <br>        <br>

Sentiment prediction system is a web based application build by using
python programming language. This application provide a user friendly
interface where a user can analyze the sentiments of twitter users
through their tweets about a particular person and understand whether
it is positive, negative or neutral.</h4>
    <br>

    <h5>For any doubts regards this Web Application,feel free to contact us on team3updates@gmail.com</h5>
<br>
 <a href="{{ url_for('login')}}" class="btn btn-primary">Login</a>
  <a href="{{ url_for('register')}}" class="btn btn-danger" style="margin-left: 10px">Register</a>
</div>

    </div>
<footer class="text-light">&copy; All Rights Reserved</footer>
</div>
</html>