bcrypt==3.2.0
blinker==1.4
bootstrap4==0.1.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
Click==7.0
cycler==0.10.0
dateutils==0.6.11
decorator==4.4.2
distlib==0.3.1
dnspython==2.0.0
dominate==2.5.2
email-validator==1.1.1
filelock==3.0.12
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.3.7.1
Flask-Dance==3.0.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
googletrans==3.0.0
gunicorn==19.9.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.9.25
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
importlib-metadata==1.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.16.0
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.1
mpld3==0.5.1
nltk==3.5
numpy==1.19.2
oauthlib==3.1.0
pandas==1.1.1
pathtools==0.1.2
Pillow==7.2.0
postgres==3.0.0
protobuf==3.13.0
psycopg2==2.8.5
psycopg2-binary==2.8.5
psycopg2-pool==1.1
pyarrow==1.0.1
pycparser==2.20
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
regex==2020.7.14
requests==2.24.0
requests-oauthlib==1.3.0
rfc3986==1.4.0
scipy==1.5.2
seaborn==0.10.1
Send2Trash==1.5.0
six==1.15.0
sniffio==1.2.0
SQLAlchemy==1.3.19
sqlparse==0.3.1
textblob==0.15.3
tk==0.1.0
toml==0.10.1
toolz==0.10.0
tweepy==3.9.0
urllib3==1.25.10
URLObject==2.4.3
validators==0.18.0
virtualenv==20.0.31
visitor==0.1.3
Werkzeug==0.15.1
wordcloud==1.8.0
WTForms==2.3.3
